In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import numpy as np
import pandas as pd

In [3]:
from nltk.corpus import stopwords

from gensim.models import Word2Vec
from gensim.models import Phrases
from gensim.models.phrases import Phraser

Мероприятия

In [4]:
events = pd.read_csv('drive/My Drive/Colab Notebooks/hackaton/events.csv')

In [5]:
events=events.fillna('')

In [6]:
events.head(2)

   id  ...                          Целевая аудитория
0   5  ...
1  12  ...  работающая молодежь, взрослые, пенсионеры

[2 rows x 25 columns]

In [7]:
events['text']=events['Название мероприятия']+' '+events['Наименование учреждения']+' '+events['Направленность мероприятия']+' '+events['Краткое описание']

**Кружки**

In [8]:
hobbies = pd.read_csv('drive/My Drive/Colab Notebooks/hackaton/club_type.csv',sep=';')

In [9]:
hobbies.drop(columns='Unnamed: 0', inplace=True)
hobbies.columns = ['id_classificator', 'id_parent', 'hobbie']

In [82]:
hobbies.head(10)

   id_classificator  ...                               text
0           3002985  ...                          Автошкола
1           3002986  ...                           Автоклуб
2           3002987  ...         Правила дорожного движения
3           3002988  ...                      Юный водитель
4           3002989  ...                        Архитектура
5           3002990  ...                 Основы архитектуры
6           3002991  ...                    Военная история
7           3002992  ...  Военно-историческая реконструкция
8           3002993  ...  Военно-историческое моделирование
9           3002994  ...         Военно-патриотический клуб

[10 rows x 4 columns]

In [11]:
hobbies=hobbies.fillna('')

In [12]:
hobbies['text']=hobbies['hobbie']

**Книги**

In [13]:
books = pd.read_csv('drive/My Drive/Colab Notebooks/hackaton/books_catalog_.csv', sep='\t')

In [14]:
books.head(10)

   doc_id                         p100a  ...      p084a p521a
0       1   Устинова Татьяна Витальевна  ...  84(2Рос)6   16+
1       2                           NaN  ...         72   12+
2       3                           NaN  ...         72   12+
3       4                           NaN  ...         72   12+
4       5                           NaN  ...         72   12+
5       6      Тараканов Борис Игоревич  ...  84(2Рос)6   NaN
6       8                           NaN  ...  84(2Рос)6   NaN
7       9                           NaN  ...  84(2Рос)6   NaN
8      10  Федотова Надежда Григорьевна  ...  84(2Рос)6   NaN
9      11            Федорова Екатерина  ...  84(2Рос)6   NaN

[10 rows x 10 columns]

In [15]:
books = books[['doc_id', 'p100a', 'p245a', 'p650a']]

In [16]:
books.columns = ['book_id', 'author', 'name', 'genre']

In [17]:
books=books.fillna('')

In [18]:
books.head(5)

   book_id  ...                                            genre
0        1  ...  Художественная литература ; Российский детектив
1        2  ...                              Наука. Науковедение
2        3  ...                              Наука. Науковедение
3        4  ...                              Наука. Науковедение
4        5  ...                              Наука. Науковедение

[5 rows x 4 columns]

In [19]:
books['text']=books['author']+' '+books['name']

**Сборка в единый датасет**

In [20]:
pdList = [events[['id', 'text']], hobbies[['id_classificator', 'text']], books[['book_id', 'text']]]  # List of your dataframes
df = pd.concat(pdList)

In [21]:
df

             id  ...    book_id
0           5.0  ...        NaN
1          12.0  ...        NaN
2        3179.0  ...        NaN
3         486.0  ...        NaN
4        2100.0  ...        NaN
...         ...  ...        ...
1370452     NaN  ...  1783623.0
1370453     NaN  ...  1783624.0
1370454     NaN  ...  1783625.0
1370455     NaN  ...  1783626.0
1370456     NaN  ...  1783627.0

[1412154 rows x 4 columns]

**Предобработка текста**

In [22]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk) (1.15.0)

In [23]:
import nltk
nltk.download("stopwords")
#--------#

from nltk.corpus import stopwords
from pymystem3 import Mystem
from string import punctuation
from nltk.tokenize import word_tokenize
from nltk.stem.snowball import SnowballStemmer
import re


#Create lemmatizer and stopwords list
mystem = Mystem() 
stemmer = SnowballStemmer('russian')
russian_stopwords = stopwords.words("russian")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [24]:
#Preprocess function
def preprocess_text(text):
    
    tokens = re.sub(r'[^A-Za-zА-Яа-яёЁ0-9-\s]',r'',str(text).lower())
    #tokens = mystem.lemmatize(text.lower())
    tokens = tokens.split(' ')
    tokens = [token for token in tokens if token not in russian_stopwords\
              and token != " " \
              and token.strip() not in punctuation]
    #text = " ".join(tokens)
    
    tokens = [stemmer.stem(word) for word in tokens] #??????????

    return tokens

In [25]:
def preprocess_text_easy(text):
    
    tokens = re.sub(r'[^a-zа-яё0-9-\s]',r'',str(text).lower())

    return tokens

In [26]:
preprocess_text("Ну что сказать, я вижу кто-то наступил на грабли, Ты разочаровал меня, ты был натравлен.")

['сказа', 'виж', 'кто-т', 'наступ', 'грабл', 'разочарова', 'натравл']

In [27]:
text_new =df["text"].apply(preprocess_text)

In [28]:
#text_easy = df["text"].apply(preprocess_text_easy)

In [29]:
df['text_new'] = text_new
#df['text_easy'] = text_easy

In [30]:
df.head()

       id  ...                                           text_new
0     5.0  ...  [фестивла, современ, молодежн, уличн, культур,...
1    12.0  ...  [танцевальн, вечер, ретр, чест, дня, побед, ва...
2  3179.0  ...  [врасплох, гбук, г, москв, дк, нагатин, антите...
3   486.0  ...  [праздник, новогодн, елк, новогодн, концерт, г...
4  2100.0  ...  [выставк, рождеств, сувенир, год, гбук, гмоскв...

[5 rows x 5 columns]

In [31]:
from gensim.models import Word2Vec
from gensim.models import FastText

In [32]:

model = FastText(sentences=df['text_new'], size=256, window=3)

In [33]:
from gensim.test.utils import get_tmpfile

In [34]:
#fname = get_tmpfile('drive/My Drive/Colab Notebooks/hackaton/fasttext.model')
#model.save(fname)

In [35]:
model.save('drive/My Drive/Colab Notebooks/hackaton/fasttext.model')

In [73]:
embeddings=[]

In [80]:
model.wv['Фестивлаь современных молодежных уличных культ...	']

array([ 0.36141336, -0.25877863, -0.69733125, -0.55912435, -0.4816257 ,
       -0.26052102, -0.31252518,  0.44131243,  0.1832992 , -0.7832446 ,
        0.5063123 ,  0.03259745, -0.1222129 , -0.44227058, -0.39789394,
        0.6299624 ,  0.19918299, -0.75434434, -0.13582578, -0.25081116,
       -0.21066542, -0.2875092 ,  0.06249294, -0.13586351, -0.4715543 ,
        0.40079284,  0.20185131,  0.19646426, -0.48713905,  0.10241161,
        0.14512266,  0.12900306, -0.2046513 ,  0.14580221,  0.3844039 ,
        0.05120646,  0.03133939,  0.06500049,  0.10541821,  0.10923085,
       -0.713263  ,  1.1951798 , -0.61891776,  0.6365845 , -0.22062738,
        0.01535683,  0.6391596 ,  0.00308906,  1.2049077 , -0.01622031,
        0.24946725,  0.09756835, -0.18851706, -0.45716026, -0.53315437,
       -0.41966698, -0.84513587,  0.25634578, -0.26321197, -0.15034294,
        0.63398916,  0.28517762, -0.2807712 , -0.2838641 ,  0.20320325,
        0.23273583,  0.27117845, -0.32710353, -0.7172847 ,  0.22208948,
       -0.52824545,  0.03875744, -0.02312959,  0.5368151 , -0.37955973,
       -0.12640087,  0.96704406, -1.5349048 , -0.09838545, -0.70224905,
        0.08085962, -0.75738096,  0.08584129,  0.43794006, -0.5258404 ,
       -0.10541871, -0.45444673,  0.1684366 , -0.2998092 ,  0.49187937,
       -0.11599503, -0.01261729, -0.1184434 , -0.04593743, -0.20709021,
       -0.2157769 ,  0.68914   , -0.07738427, -0.44465274,  0.799704  ,
        0.52438986, -0.663634  , -0.31651148, -0.07785541, -0.32227477,
        1.124556  , -0.5325068 ,  0.6723892 , -0.18993215,  0.30297476,
       -1.0491415 ,  0.03078018, -0.15266253,  0.86366284,  0.0081347 ,
       -0.19837472, -0.42811677,  0.24956492, -0.2645041 , -0.24722727,
        0.54281586, -0.8122313 , -0.1132071 ,  0.52394617,  0.6788284 ,
        0.07871193, -0.8298289 ,  0.36054054, -0.05157698,  0.1588338 ,
       -0.15145083,  0.4768042 ,  0.16945337, -0.40541434, -1.0440012 ,
       -0.45180547,  0.05782858,  0.62246776,  0.00667822, -0.3334898 ,
        0.12774259, -0.7099058 , -0.15860534,  0.53268725,  0.67491937,
        0.31844395, -0.91869354,  0.405135  , -0.48579523, -0.98710823,
        0.37956855, -1.0637286 ,  1.0253607 ,  0.7944676 , -0.05975194,
       -0.35889566, -0.87615204, -0.9045126 ,  1.1421368 ,  0.41294557,
       -0.12392618, -0.41895065, -0.46467286, -0.6290218 , -0.37010416,
       -0.8225216 , -0.69486743, -0.11877287, -0.08295853, -0.27070308,
       -0.5258832 , -0.09247939,  0.6086505 , -0.46770063,  0.5860026 ,
       -0.6781996 , -0.38695732, -0.9783722 ,  0.29964724,  0.26409227,
       -0.06691238, -0.39216918,  0.00156769,  0.01553813, -0.04980288,
       -0.2618967 ,  0.18210432, -0.1416072 , -0.5451924 ,  0.9796446 ,
       -0.5282232 , -0.22450706,  0.01255936, -0.17615652,  1.0242454 ,
        0.9890233 , -0.14603497,  0.46974608, -0.35931766, -0.28794697,
       -0.27786034, -0.3134579 ,  0.7073879 , -0.36642435, -0.13017522,
       -0.2955108 ,  0.05692084, -1.0579844 ,  0.96489143,  0.27805525,
       -0.25111544, -0.6558253 , -0.4118973 ,  0.6325241 ,  0.55760944,
        1.1158357 ,  0.6180927 , -0.00437886,  0.38509253, -0.65562785,
       -1.2994776 , -0.36894172, -0.06615308, -0.8745678 ,  0.00154428,
        0.16918044,  0.39897326, -0.2475227 ,  0.297279  , -0.6376756 ,
       -1.0922239 ,  0.13666712, -0.65059835, -0.43910402, -0.00788921,
       -0.37837255, -0.35805887, -0.09748738,  0.28815517,  1.1858959 ,
        0.00536316, -0.28121084,  1.2464252 ,  0.17040366,  0.2769317 ,
        0.23081115,  0.02060911, -0.06861302, -0.26195168, -0.69732445,
        1.0149513 , -0.19939953,  0.2700504 , -0.02289486,  0.3825849 ,
        0.4850129 ], dtype=float32)

In [37]:
model2 = FastText.load('drive/My Drive/Colab Notebooks/hackaton/fasttext.model')