In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Ссылка на датасеты

In [2]:
path = 'https://drive.google.com/drive/u/2/folders/1ThrsjEq4nibWOBvSrkMQhHaMOe4rTf4R'

In [3]:
#!pip install pandas==0.21

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
pd.__version__

'0.21.0'

In [7]:
events_df = pd.read_csv('drive/My Drive/Colab Notebooks/hackaton/events.csv')

In [8]:
#events_df.head(2)

In [9]:
ppl_df = pd.read_csv('drive/My Drive/Colab Notebooks/hackaton/Pupil_hackaton.csv', sep=';')

In [10]:
ppl_df.head()

   id_ученика  возраст      пол
0           1     12.0  Женский
1           2     12.0  Женский
2           3     12.0  Женский
3           4     11.0  Женский
4           5     12.0  Женский

In [11]:
relations_df = pd.read_csv('drive/My Drive/Colab Notebooks/hackaton/MegaRelation_hackaton.csv', sep=';')

In [12]:
#relations_df.head()

In [13]:
club_type_df = pd.read_csv('drive/My Drive/Colab Notebooks/hackaton/club_type.csv',sep=';')

In [14]:
club_type_df= club_type_df[['id_классификатора', 'id_родительского_классификатора',
       'Наименование']]

In [15]:
#club_type_df.head()

In [16]:
org_df= pd.read_csv('drive/My Drive/Colab Notebooks/hackaton/org_hackaton.csv', sep=';')

In [17]:
#org_df.head()

In [18]:
request_df= pd.read_csv('drive/My Drive/Colab Notebooks/hackaton/request_hackaton.csv', sep=';')

In [19]:
#request_df.head()

In [20]:
services_df= pd.read_csv('drive/My Drive/Colab Notebooks/hackaton/services_hackaton.csv', sep=';')

In [21]:
#services_df.head()

In [22]:
#events_df.columns

In [23]:
#relations_df.columns

In [24]:
relations_with_ppl = relations_df.merge(ppl_df, on='id_ученика', how='left')

In [61]:
relations_with_ppl.head()

,id_зачисления,Статус,id_ученика,Дата_создания_записи,id_организации,id_заявления,id_услуги,дата_зачисления,дата_отчисления,причина_перевода,предыдущая_запись_зачисления,следующая_запись_зачисления,Плановая_дата_начала_занятий,Плановая_дата_окончания_занятий,возраст,пол
0,1325954,3.0,25969,08.06.2015 14:47:19,30,950832.0,39178,08.06.2015 0:00:00,29.02.2016 19:28:12,NaN,NaN,3558114.0,01.09.2014 0:00:00,01.09.2021 0:00:00,14.0,Мужской
1,2879918,3.0,158129,29.10.2015 18:35:21,30,989658.0,39178,01.09.2010 0:00:00,29.02.2016 19:23:59,NaN,NaN,3557885.0,01.09.2014 0:00:00,01.09.2021 0:00:00,18.0,Женский
2,2901258,3.0,304476,02.11.2015 14:05:56,30,950764.0,39178,09.06.2014 0:00:00,29.02.2016 19:28:11,NaN,NaN,3558103.0,01.09.2014 0:00:00,01.09.2021 0:00:00,14.0,Мужской
3,2912724,3.0,1.13992e+06,03.11.2015 14:29:27,30,950786.0,39178,09.06.2014 0:00:00,29.02.2016 19:28:11,NaN,NaN,3558105.0,01.09.2014 0:00:00,01.09.2021 0:00:00,14.0,Мужской
4,2912819,3.0,298767,03.11.2015 14:34:15,30,950799.0,39178,09.06.2014 0:00:00,29.02.2016 19:28:11,NaN,NaN,3558106.0,01.09.2014 0:00:00,01.09.2021 0:00:00,13.0,Женский

In [62]:
relations_ppl_org = relations_with_ppl.merge(org_df, on='id_организации', how='left')

In [63]:
relations_ppl_org_req = relations_ppl_org.merge(request_df, on=['id_заявления', 'id_услуги'], how='left')

In [64]:
relations_services = relations_ppl_org_req.merge(services_df, on=['id_организации', 'id_услуги'], how='left')

In [65]:
relations_final= relations_services.merge(club_type_df, left_on='Классификатор_услуги', right_on='id_классификатора', how='left')

In [66]:
relations_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1111478 entries, 0 to 1111477
Data columns (total 37 columns):
id_зачисления                      1111478 non-null int64
Статус                             999204 non-null float64
id_ученика                         999204 non-null object
Дата_создания_записи               1111474 non-null object
id_организации                     1111478 non-null int64
id_заявления                       1057941 non-null object
id_услуги                          1111478 non-null int64
дата_зачисления                    1054834 non-null object
дата_отчисления                    750150 non-null object
причина_перевода                   2 non-null float64
предыдущая_запись_зачисления       277751 non-null float64
следующая_запись_зачисления        263876 non-null float64
Плановая_дата_начала_занятий       1111074 non-null object
Плановая_дата_окончания_занятий    1102947 non-null object
возраст                            998420 non-null float64
пол                                999204 non-null object
полное_наименование                1111331 non-null object
краткое_наименование               1111331 non-null object
улица                              1031586 non-null object
Метро                              1050773 non-null object
статус_заявления                   859278 non-null object
дата_создания                      859278 non-null object
оценка_вступительных_испытаний     44670 non-null float64
Испытания_пройдены                 611093 non-null float64
Зачисление_разрешено               686692 non-null float64
Зачисление_не_разрешено            419734 non-null float64
Причина_отказа_в_зачислении        1961 non-null float64
Тип_финансирования                 1111478 non-null object
Классификатор_услуги               1111478 non-null int64
Тип_расписания                     1111478 non-null object
Наименование_услуги                1105375 non-null object
Дата_создания                      1111476 non-null object
длительность_обучения              1111450 non-null object
единица_длительности               1111391 non-null object
id_классификатора                  1007494 non-null float64
id_родительского_классификатора    1006373 non-null float64
Наименование                       1007494 non-null object
dtypes: float64(12), int64(4), object(21)
memory usage: 322.2+ MB

In [30]:
relations_final.head(5)

,id_зачисления,Статус,id_ученика,Дата_создания_записи,id_организации,id_заявления,id_услуги,дата_зачисления,дата_отчисления,причина_перевода,...,Тип_финансирования,Классификатор_услуги,Тип_расписания,Наименование_услуги,Дата_создания,длительность_обучения,единица_длительности,id_классификатора,id_родительского_классификатора,Наименование
0,1325954,3.0,25969,08.06.2015 14:47:19,30,950832,39178,08.06.2015 0:00:00,29.02.2016 19:28:12,NaN,...,бесплатно,3000001,Индивидуальное,Архитектура,17.07.2013 12:50:32,"7,0000",лет,NaN,NaN,NaN
1,1325954,3.0,25969,08.06.2015 14:47:19,30,950832,39178,08.06.2015 0:00:00,29.02.2016 19:28:12,NaN,...,бесплатно,3000001,Индивидуальное,Архитектура,17.07.2013 12:50:32,"7,0000",лет,NaN,NaN,NaN
2,2879918,3.0,158129,29.10.2015 18:35:21,30,989658,39178,01.09.2010 0:00:00,29.02.2016 19:23:59,NaN,...,бесплатно,3000001,Индивидуальное,Архитектура,17.07.2013 12:50:32,"7,0000",лет,NaN,NaN,NaN
3,2879918,3.0,158129,29.10.2015 18:35:21,30,989658,39178,01.09.2010 0:00:00,29.02.2016 19:23:59,NaN,...,бесплатно,3000001,Индивидуальное,Архитектура,17.07.2013 12:50:32,"7,0000",лет,NaN,NaN,NaN
4,2901258,3.0,304476,02.11.2015 14:05:56,30,950764,39178,09.06.2014 0:00:00,29.02.2016 19:28:11,NaN,...,бесплатно,3000001,Индивидуальное,Архитектура,17.07.2013 12:50:32,"7,0000",лет,NaN,NaN,NaN

Теперь надо посмотреть данные и почистить от людей с отрицательным возрастом, например

In [31]:
relations_final.describe()

,id_зачисления,Статус,id_организации,id_услуги,причина_перевода,предыдущая_запись_зачисления,следующая_запись_зачисления,возраст,оценка_вступительных_испытаний,Испытания_пройдены,Зачисление_разрешено,Зачисление_не_разрешено,Причина_отказа_в_зачислении,Классификатор_услуги,id_классификатора,id_родительского_классификатора
count,1.111478e+06,999204.000000,1.111478e+06,1.111478e+06,2.0,2.777510e+05,2.638760e+05,998420.000000,44670.000000,611093.000000,686692.000000,419734.000000,1961.000000,1.111478e+06,1.007494e+06,1.006373e+06
mean,9.957034e+06,2.017235,6.850508e+03,2.640247e+05,2.0,7.162491e+06,1.130869e+07,15.511014,4.313096,0.073293,0.198792,0.004839,4.864355,3.090820e+06,3.099976e+06,3.099196e+06
std,9.109389e+06,0.713950,6.484078e+03,2.257340e+05,0.0,7.494426e+06,9.086549e+06,12.302431,0.541192,0.260617,0.399092,0.069393,2.683084,1.117617e+05,1.133830e+05,1.087256e+05
min,1.000000e+00,1.000000,2.000000e+00,2.590300e+04,2.0,1.030000e+02,9.972000e+03,-1.000000,2.000000,0.000000,0.000000,0.000000,1.000000,3.000001e+06,3.002987e+06,3.002985e+06
25%,3.373041e+06,2.000000,9.900000e+01,1.170260e+05,2.0,2.855572e+06,3.743810e+06,10.000000,4.000000,0.000000,0.000000,0.000000,3.000000,3.003269e+06,3.003351e+06,3.003268e+06
50%,6.129685e+06,2.000000,1.084000e+04,2.107870e+05,2.0,3.857428e+06,6.736287e+06,13.000000,4.000000,0.000000,0.000000,0.000000,4.000000,3.003463e+06,3.003485e+06,3.003406e+06
75%,1.549776e+07,3.000000,1.089500e+04,3.100880e+05,2.0,1.074562e+07,1.772635e+07,16.000000,5.000000,0.000000,0.000000,0.000000,7.000000,3.220405e+06,3.220501e+06,3.220500e+06
max,3.531141e+07,3.000000,9.098600e+04,1.277439e+06,2.0,3.531028e+07,3.531066e+07,120.000000,5.000000,1.000000,1.000000,1.000000,19.000000,4.507946e+06,4.507946e+06,4.507928e+06

Тут будет сводная таблица

In [96]:
#df1 = relations_final[['id_организации', 'id_ученика','Статус']].drop_duplicates()

In [97]:
#df1['Статус'].fillna(1., inplace=True)

In [98]:
#df1.head()

In [99]:
#pupil_by_org = df1.pivot(index='id_ученика', columns='id_организации', values='Статус')

In [ ]:
#pupil_by_org.shape (126466, 237) Где статус = 1 или nan

In [ ]:
#pupil_by_org.shape (126465, 229) Где статус = 1

In [ ]:
import gc
gc.collect()

In [53]:
df2 = relations_final[['Наименование', 'id_ученика','Статус']].drop_duplicates()

In [54]:
df21=df2[df2['Статус']==1.0]
df22=df2[df2['Статус']==3.0]

In [55]:
df22['Статус'] = df22['Статус'].replace(3., 1.)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [56]:
df2=pd.concat([df21,df22])
df2 = df2[['Наименование', 'id_ученика','Статус']].drop_duplicates()

In [78]:
df2.shape

(221244, 3)

In [ ]:
df2=df2.dropna()

In [88]:
df2.shape

(192958, 3)

In [89]:
pupil_by_club = df2.pivot(index='id_ученика', columns='Наименование', values='Статус')

In [90]:
relations_final.to_csv('drive/My Drive/Colab Notebooks/hackaton/relations_full.csv', sep=';')

KeyboardInterrupt: ignored

In [91]:
pupil_by_club.to_csv('drive/My Drive/Colab Notebooks/hackaton/pupil_by_club.csv', sep=';')

In [68]:
df3 = relations_final[['Наименование', 'id_ученика','Статус', 'возраст', 'пол']].drop_duplicates()

In [70]:
df31=df3[df3['Статус']==1.0]
df32=df3[df3['Статус']==3.0]
df32['Статус'] = df22['Статус'].replace(3., 1.)
df3=pd.concat([df31,df32])
df3 = df3[['Наименование', 'id_ученика','Статус', 'возраст', 'пол']].drop_duplicates()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [71]:
df3.to_csv('drive/My Drive/Colab Notebooks/hackaton/pupil_info.csv', sep=';')